<form action="/cart" class="text-center" method="post">
    <input type="hidden" name="_csrf" value="<%= csrftoken %>">
    <input type="hidden"  name="productID" value="<%= product.id %>">
    <button type="submit" class="btn btn-info">Add To Cart</button>
</form>